/* 
.grid-container{

} */

.roomCardContainer{
	background-color:#69E48E;
	margin-top: 4vw;
	margin-bottom: 0vw;
	margin-left: 7.5vw;
	margin-right: 12.5vw;
	/* margin-right: 7.5vw; */
	/* margin-right: 100em; */
	padding-left: 0.5em;
	padding-top: 1em;
	padding-bottom: .5em;
	overflow: auto;
	border-radius: .5em;
	border: none;
	cursor: pointer;
	/* flex: 1 1 0; */
	/* position: absolute; */
}


.roomCardContainer h2{
	font-family: 'Open Sans', sans-serif;
	padding-left: 4.5%;
	font-size: 2em;
	color: #fff;
	font-weight: 500;
}

.roomCardContainer h3{
	font-size: 1.5em;
	font-weight: 500;
	line-height: 1;
	color: rgb(255, 255, 255);
}

.roomMembers img {
	width: 70px;
	height: 70px;
	border-radius: 0.6em;
}

.roomMembers {
	padding-left: 3.5%;
	display: flex;
	align-items: flex-start;
	color: #fff;
	font-size: 1.8em;

}

.roomMembers p{
	font-size: 0.975em;
	font-weight: 100;
	line-height: 1;
	margin-bottom: 0.5em;
	color: var(--textColor);
}

.roomMembers > div:first-child{
	position: relative;
	margin-right: 2em;
}

.roomMembers > div:first-child>img:nth-child(2){
	position: absolute;
	left: 1em;
	top: 1em;
}