

.modal {
	text-align: center;
	padding: 0!important;
}

.modal-style{
	background-color: #2f3136;
	color: #fff;
}

.modal-header .btn-close{
	background-color: rgb(255, 255, 255);
	opacity: .8;
	margin-right: 2px;
	border-radius: 4px;
	transition: 0.3s;
}

.modal-header .btn-close:hover{
	opacity: 1;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: auto;
}
  
  /* button */
.modal-dialog {
	display: inline-block;
	text-align: center;
	font-size: 18px;
	vertical-align: middle;
}

.create-button{
	background-color: #2f3136;
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 30px;
	padding: 7px 30px 8px 30px;
	text-align: center;
  	text-decoration: none;
	display: inline-block;
}
.tag-container {
    min-width: 60%;
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    min-height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
  }
  .tag {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    height: 25px;
    margin: 2px 5px 2px 0px;
    color: white;
  }
  
  .tag-container input {
    border: none;
    flex: 1;
    outline: none;
    padding: 5;
    background: black;
    color: white;
  }
  .tag span {
    margin-left: 5px;
    cursor: pointer;
  }